.user-listings_container{
    background-color: $white;
}

.listing__item-container{
    width:80%;
    // background-color: $primary;
}
.listing__item-container *{
    color: $white;

}

.user-listings__img-container{
    max-height: 400px;
    max-width: 400px;
    object-fit: contain;
}

.user-listings__img-container img{
    object-fit: contain;
    height:100%;
    width:100%;
}

.user-listings__bid-container{
    background-color: $primary;
    width:75%;
}
.user-listings__bid-container *{
    color:$white;
}

.user-listings__make-bid{
    background-color: $white;
}

.user-listings__bidder-info{
    border: 1px solid $gold;
}
.user-listings__bid-container{
    max-height: 500px;
}

//why no work?
.place-bid-hidden{
    display:hidden;
}
