.user-listings_container{
    background-color: $white;
}



.listing__item-container{
    width:80%;
    // background-color: $primary;
}
.listing__item-container *{
    color: $white;

}

.user-listings__img-container{
    max-height: 400px;
    max-width: 400px;
    object-fit: contain;
}

.user-listings__img-container img{
    object-fit: contain;
    height:100%;
    width:100%;
}

.user-listings__bid-container{
    background-color: $primary;
    width:75%;
}
.user-listings__bid-container *{
    color:$white;
}

.user-listings__make-bid{
    background-color: $white;
    max-width: 400px !important;
}

.user-listings__bid-container{
    max-width: 400px;
}

.user-listings__bidder-info{
    border: 1px solid $gold;
}
.user-listings__bid-container{
    max-height: 500px;
}

.carousel-control-next-icon, .carousel-control-prev-icon{
    background-color: rgb(58, 58, 58);
    border-radius: 5px;
}

.carousel-control-next-icon, .carousel-control-next{
    color:black;
}

.slider-images{
    max-height:400px;
    object-fit: contain;
    margin: 0 auto;
}


//why no work?
.place-bid-success-hidden, .place-bid-error-hidden{
    display:none;
}
