$primary: #323859;
$secondary: #F25C05;
$info: #F2C0A2;
// $danger: #F20505;




// /* Color Theme Swatches in Hex */
// $Travel-1-hex: #025159;
// $Travel-2-hex: #F25C05;
// $Travel-3-hex: #F2C0A2;
// $Travel-4-hex: #F20505;
// $Travel-5-hex: #A60D0D;

// /* Color Theme Swatches in RGBA */
// $Travel-1-rgba: rgba(1,80,89, 1);
// $Travel-2-rgba: rgba(242,91,4, 1);
// $Travel-3-rgba: rgba(242,191,162, 1);
// $Travel-4-rgba: rgba(242,4,4, 1);
// $Travel-5-rgba: rgba(165,13,13, 1);

// /* Color Theme Swatches in HSLA */
// $Travel-1-hsla: hsla(185, 96, 17, 1);
// $Travel-2-hsla: hsla(22, 96, 48, 1);
// $Travel-3-hsla: hsla(22, 75, 79, 1);
// $Travel-4-hsla: hsla(0, 96, 48, 1);
// $Travel-5-hsla: hsla(0, 85, 35, 1);