@import "_variables";
@import "_profile.scss";
@import "_listing.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

body {
    background: linear-gradient(to right, #323859, #1A1826);
}

nav {
    border-bottom: 1px solid $gold;
}

h1,
.welcome-text {
    color: #D9A384;
}

.alert-success-createAC  {
    display: none;

}

.danger-hidden-createAC, .danger_hidden-login {
    display: none;
}

.profile-img-small {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: solid 2px white;
    object-fit: cover;
    transition: border 300ms ease-out;
}


.header-name-container * {
    color: $white;
}

.item-img {
    object-fit: contain;
    height: 200px;
    width: 200px;
}

.hamburger-container {
    height: 100%;
    width: 200px;
    background-color: red;
    top: 0px;
    right: 0px;
    z-index: 5;
}

.hamburger-menu {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    margin-top: 40px;
}

.hamburger-menu * {
    margin: 10px 0px;
}

.close-hamburger {
    position: absolute;
    right: 10px;
    top: 0px;
}

.close-hamburger-container {
    display: none;
}

.hamburger-icon {
    width: 25px;
    right: 10px;
    top: 25px;
}

.btn-logout{
    position:absolute;
    right:30px;
}

@media only screen and (min-width: 500px) {}